html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: roboto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0px;
  margin: 0px;
}

@font-face
{
font-family: FUTURASTD;
src: url(FuturaSTD/FuturaStdBold.otf);
}

/* Inicio del formato de celular - MOBILE VIEW START ------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

/*Secci贸n del header*/
.header-background{
  display: none;
}
.header-background-mobile{
  height: 44vh;
  width: 100%;
}

.scooter-girl-mobile{
  display: flex;
  height: 30vh;
  margin-left: 6vw;
}
.scooter-girl{
  display: none;
}

.content{
  display: flex;
  margin-top: -42vh;
}

.electromobility-logo{
  height: 7.5vh;
  margin-top: 5vh;
}

.header-paragraph{
  display: none;
}

.header-paragraph-italic{
  display: none;
}

.header-paragraph-mobile{
  color: #ffffff;
  margin-top: 3.5vh;
  margin-left: 4.5vw;
  font-size: 18px;
  font-family: FUTURASTD;
}

.header-paragraph-italic-mobile{
  color: #FECE0C;
  font-style: italic;
  margin-left: 7.5vw;
  font-size: 18px;
  font-family: FUTURASTD;
}

.header-button-container{
  display: none;
}
.header-button-container-mobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-button{
  display: none;
}
.header-button-mobile{
  background-color: transparent;
  border: solid 2px #FDCE0C;
  color: #FDCE0C;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 15px;
  margin-bottom: 4.5vh;
  font-family: FUTURASTD;
}

.category-buttons{
    display: none;
}
.category-buttons-mobile{
    display: flex;
    flex-direction: row;
}

.category-buttons-mobile img{
  height: 4vh;
}

.category-buttonA{
  background-color: #E8B30D;
  border: none;
  height: 10vh;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-family: FUTURASTD;
  font-size: 13px;
}

.category-buttonB{
  background-color: #FECE0C;
  border: none;
  height: 10vh;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-family: FUTURASTD;
  font-size: 13px;
}

.buttons-container-mobile{
  display: flex;
  flex-direction: column;
}
/* Fin del header */

/* Secci贸n de llamado */
.call-image{
  display: none;
}
.call-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-image-mobile{
  height: 12vh;
  margin-top: 3vh;
}
.call-paragraph{
  display: none;
}
.call-paragraph-mobile{
  font-family: FUTURASTD;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  margin-top: 2vh;
}






}
/* Fin del formato de celular - MOBILE VIEW END -------------------------------------------------------------*/

/* Inicio del formato de escritorio - DESKTOP VIEW START ------------------------------------------------------*/
@media screen and (min-width: 415px) {

/*Secci贸n del header*/
.header-background-mobile{
  display: none;
}
  .header-background{
    width: 100%;
    height: 30vw;
  }
  .scooter-girl-mobile{
    display: none;
  }
  .scooter-girl{
    height: 81vh;
  }

  .electromobility-logo{
    height: 20vh;
  }

  .header-paragraph{
    color: #ffffff;
    margin-left: 4.5vw;
    padding: 6vh 0vw;
    font-size: 25px;
    font-family: FUTURASTD;
  }

  .header-paragraph-italic{
    color: #FECE0C;
    font-style: italic;
  }

  .header-paragraph-mobile{
    display: none;
  }
  
  .header-paragraph-italic-mobile{
    display: none;
  }

  .header-button{
    background-color: transparent;
    border: solid 2px #FDCE0C;
    color: #FDCE0C;
    font-weight: bold;
    font-size: 17px;
    padding: 8px 20px;
    margin-left: 4.5vw;
    margin-bottom: 4.5vh;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .header-button:hover{
    border: solid 2px #d4ac0b;
    color: #d4ac0b;
  }

  .content{
    display:flex;
    margin-top: -60vh;
    margin-left: 19.5vw;
  }

  .category-buttonA{
    background-color: #E8B30D;
    border: none;
    height: 22vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .category-buttonA:hover{
    color: #682666;
    height: 23vh;
  }

  .category-buttonB{
    background-color: #FECE0C;
    border: none;
    height: 22vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .category-buttonB:hover{
    color: #682666;
    height: 23vh;
  }

  .category-buttons{
    margin-left: 4.5vw;
    display: flex;
    flex-direction: row;
  }

  .category-buttons img{
    height: 10vh;
  }

  .buttons-container-mobile{
    display: none;
  }
/* Fin del header */

/* Secci贸n de llamado */
.call-image-mobile{
  display: none;
}
.call-container{
  display: flex;
  flex-direction: row;
  margin-left: 13.5vw;
}
.call-image{
  height: 19vh;
}
.call-paragraph-mobile{
  display: none;
}
.call-paragraph{
  font-family: FUTURASTD;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2vh;
}











}
/* Fin del formato de escritorio - DESKTOP VIEW END ------------------------------------------------------*/