html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: roboto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0px;
  margin: 0px;
}

@font-face
{
font-family: FUTURASTD;
src: url(FuturaSTD/FuturaStdBold.otf);
}

/* Inicio del formato de celular - MOBILE VIEW START ------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

/*Sección del header MOBILE*/
.header-background{
  display: none;
}
.header-background-mobile{
  height: 44vh;
  width: 100%;
}

.scooter-girl-mobile{
  display: flex;
  height: 30vh;
  margin-left: 6vw;
}
.scooter-girl{
  display: none;
}

.content{
  display: flex;
  margin-top: -42vh;
}

.electromobility-logo{
  height: 7.5vh;
  margin-top: 5vh;
}

.header-paragraph{
  display: none;
}

.header-paragraph-italic{
  display: none;
}

.header-paragraph-mobile{
  color: #ffffff;
  margin-top: 3.5vh;
  margin-left: 4.5vw;
  font-size: 18px;
  font-family: FUTURASTD;
}

.header-paragraph-italic-mobile{
  color: #FECE0C;
  font-style: italic;
  margin-left: 7.5vw;
  font-size: 18px;
  font-family: FUTURASTD;
}

.header-button-container{
  display: none;
}
.header-button-container-mobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-button{
  display: none;
}
.header-button-mobile{
  background-color: transparent;
  border: solid 2px #FDCE0C;
  color: #FDCE0C;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 15px;
  margin-bottom: 4.5vh;
  font-family: FUTURASTD;
}

.category-buttons{
    display: none;
}
.category-buttons-mobile{
    display: flex;
    flex-direction: row;
}

.category-buttons-mobile img{
  height: 4vh;
}

.category-buttonA{
  background-color: #E8B30D;
  border: none;
  height: 10vh;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-family: FUTURASTD;
  font-size: 13px;
}

.category-buttonB{
  background-color: #FECE0C;
  border: none;
  height: 10vh;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-family: FUTURASTD;
  font-size: 13px;
}

.buttons-container-mobile{
  display: flex;
  flex-direction: column;
}
/* Fin del header MOBILE */

/* Sección de llamado MOBILE*/
.call-image{
  display: none;
}
.call-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-image-mobile{
  height: 12vh;
  margin-top: 3vh;
}
.call-paragraph{
  display: none;
}
.call-paragraph-mobile{
  font-family: FUTURASTD;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  margin-top: 2vh;
}
/* Fin sección de llamado MOBILE*/

/* Main sección y primer carrusel MOBILE*/

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scooter-section{
  display: none;
}

.scooter-section-mobile{
  display: flex;
  height: 12vh;
  margin-top: 3vh;
}
/* inicio del carrusel MOBILE*/
.container {
  width: 100vw;
  height: 53vh;
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 45vh;
}
.slide {
  /* min-width: 60vw; */
  min-width: 100vw;
  position: relative;
}
.product-image {
  display: none;
}
.product-image-mobile {
  display: flex;
  height: 45vh;
}
.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 45px;
  border: none;
  color: #FECE0C;
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide button {
  color: #682666;;
  font-weight: bold;
  border: solid 3px #682666;;
  padding: 8px;
  background-color: transparent;
  font-size: 12px;
  font-family: FUTURASTD;
}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  /* width: 60vw; */
  width: 70vw;
}

.product-name{
  color: #000;
  font-weight: bold;
  font-size: 12px;
  font-family: FUTURASTD;
  margin-top: -15vh;
  padding: 1vh;
  /* width: 35vw; */
  text-align: center;
}

.product-price{
  color: #682666;
  font-weight: bold;
  font-size: 12px;
  font-family: FUTURASTD;
  padding-bottom: 1vh;
}
/* Fin del carrusel MOBILE */

/* Sección de lo mejor MOBILE*/
.best-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.best-section-paragraph1{
  color: #FECE0C;
  font-weight: bold;
  font-size: 40px;
  font-family: FUTURASTD;
  text-align: center;
  /* margin-top: 8vh; */
}

.best-section-paragraph2{
  color: #682666;
  font-weight: bold;
  font-size: 26px;
  font-family: FUTURASTD;
  text-align: center;
}

/* Inicio del segundo carrusel MOBILE */

}
/* Fin del formato de celular - MOBILE VIEW END -------------------------------------------------------------*/

/* Inicio del formato de escritorio - DESKTOP VIEW START ------------------------------------------------------*/
@media screen and (min-width: 415px) {

/*Sección del header DESKTOP*/
.header-background-mobile{
  display: none;
}
  .header-background{
    width: 100%;
    height: 30vw;
  }
  .scooter-girl-mobile{
    display: none;
  }
  .scooter-girl{
    height: 81vh;
  }

  .electromobility-logo{
    height: 20vh;
  }

  .header-paragraph{
    color: #ffffff;
    margin-left: 4.5vw;
    padding: 6vh 0vw;
    font-size: 25px;
    font-family: FUTURASTD;
  }

  .header-paragraph-italic{
    color: #FECE0C;
    font-style: italic;
  }

  .header-paragraph-mobile{
    display: none;
  }
  
  .header-paragraph-italic-mobile{
    display: none;
  }

  .header-button{
    background-color: transparent;
    border: solid 2px #FDCE0C;
    color: #FDCE0C;
    font-weight: bold;
    font-size: 17px;
    padding: 8px 20px;
    margin-left: 4.5vw;
    margin-bottom: 4.5vh;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .header-button:hover{
    border: solid 2px #d4ac0b;
    color: #d4ac0b;
  }

  .content{
    display:flex;
    margin-top: -60vh;
    margin-left: 19.5vw;
  }

  .category-buttonA{
    background-color: #E8B30D;
    border: none;
    height: 22vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .category-buttonA:hover{
    color: #682666;
    height: 23vh;
  }

  .category-buttonB{
    background-color: #FECE0C;
    border: none;
    height: 22vh;
    width: 10vw;
    color: #ffffff;
    font-weight: bold;
    font-family: FUTURASTD;
    cursor: pointer;
  }

  .category-buttonB:hover{
    color: #682666;
    height: 23vh;
  }

  .category-buttons{
    margin-left: 4.5vw;
    display: flex;
    flex-direction: row;
  }

  .category-buttons img{
    height: 10vh;
  }

  .buttons-container-mobile{
    display: none;
  }
/* Fin del header DESKTOP*/

/* Sección de llamado DESKTOP*/
.call-image-mobile{
  display: none;
}
.call-container{
  display: flex;
  flex-direction: row;
  margin-left: 13.5vw;
}
.call-image{
  height: 19vh;
}
.call-paragraph-mobile{
  display: none;
}
.call-paragraph{
  font-family: FUTURASTD;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2vh;
}
/* Fin sección de llamado DESKTOP*/

/* Main sección y primer carrusel DESKTOP*/

.main-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scooter-section-mobile{
  display: none;
}

.scooter-section{
  height: 60vh;
}
/* Inicio del carrusel DESKTOP */
.container {
  width: 40vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 100%;
  /* width: 33vw; */
}
.slide {
  min-width: 60vw;
  position: relative;
}
.product-image-mobile {
  display: none;
}
.product-image {
  display: flex;
  height: 55vh;
}
.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 45px;
  border: none;
  padding: 60px;
  color: #FECE0C;
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide button {
  color: #682666;;
  font-weight: bold;
  border: solid 3px #682666;;
  padding: 8px;
  background-color: transparent;
  font-size: 13px;
  font-family: FUTURASTD;
}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  /* width: 33vw; */
}

.product-name{
  color: #000;
  font-weight: bold;
  font-size: 13px;
  font-family: FUTURASTD;
  margin-top: -15vh;
  padding: 1vh;
}

.product-price{
  color: #682666;
  font-weight: bold;
  font-size: 13px;
  font-family: FUTURASTD;
  padding-bottom: 1vh;
}
/* Fin del carrusel DESKTOP */

/* Sección de lo mejor DESKTOP*/
.best-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.best-section-paragraph1{
  color: #FECE0C;
  font-size: 55px;
  font-family: FUTURASTD;
  text-align: center;
  margin-top: 8vh;
}

.best-section-paragraph2{
  color: #000000;
  font-size: 23px;
  font-family: FUTURASTD;
  text-align: center;
}
/* Inicio del segundo carrusel DESKTOP */

.best-container {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.best-slides {
  display: flex;
  height: 100%;
}
.best-slide {
  min-width: 98%;
  position: relative;
}
.best-scooter-img {
  width: 9vw;
  height: 18vh;
}
.best-slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bestNextBtn,
#bestPrevBtn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: #682666;
}
#bestNextBtn:focus,
#bestPrevBtn:focus {
  outline: none;
}
.best-slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.best-slide p {
  color: #682666;
  font-weight: bold;
}

.best-slide button {
  color: #000000;
  font-weight: bold;
  border: solid 2px #000000;
  padding: 8px;
  background-color: transparent;
}

.best-product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  background-color: #FECE0C;
  padding: 10px;
}



}
/* Fin del formato de escritorio - DESKTOP VIEW END ------------------------------------------------------*/